body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: grid;
    justify-content: center;
}

.main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    justify-content: center;
}


.basket img {
    height: 8rem;
    width: auto;
}

.basket {
    display: grid;
    justify-content: center;
}

.photo {
    display: grid;
}

img {
    width: 10rem;
}

